<!DOCTYPE html>
html lang="en-US"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title
      include(input.title)
  body
    header
      img.logo src="./logo.svg" alt="cimri logo"
    div.content
      include(input.content)
